@import '../styles/shared-page-styles.css';

.device-page {
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 900px) {
  .device-page {
    padding: 1rem;
  }
}
